.department-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
}

.department-form h2 {
  margin-bottom: 20px;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.input-block label {
  margin-bottom: 12px;
  text-align: center;
}

.input-block input,
.input-block select {
  padding: 10px;
  border: 1px solid #6200ea;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
}

.input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.save-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00a832;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.save-button:not(:disabled):hover {
  background-color: #3700b3;
}
